body {
	font-family: 'Open Sans';
	background-image: url('https://image.ibb.co/maCTbc/knife_2879372_1920.jpg');
}
.intro-page body {
  background-image: url('https://image.ibb.co/maCTbc/knife_2879372_1920.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-family: 'Montserrat';
  font-size: 48pt;
}
p {
  font-size: 18pt;
}
h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Montserrat';
	font-weight: normal;
}
#intro header {
	margin-top: 150px;
}
#intro form label {
	display: none;
}
.results {
  text-align: center;
}
.results li {
  width: 30%;
  display: inline-block;
  margin: 0.25%;
  border-radius: 5px;
  padding: 5px;
}
.results li img {
  display: inline-block;
  max-width: 100%;
  border-radius: 5px;
  padding: 5px;
}
.results a {
  color: black;
  font-size: 14pt;
  font-weight: bold;
  text-decoration: none;
  display: block;
}
.results li:hover {
  background-color: #5a4;
}
.results figcaption a {
  display: block;
  height: 2.75em;
  overflow: hidden;
}
#intro.no-intro header {
  margin-top: 50px;
}
select {
 font-size: 18pt;
 background: transparent;
 border: none;
}

