body {
	font-family: 'Open Sans';
	background-color: #f96;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Montserrat';
	font-weight: normal;
}
#intro header {
	margin-top: 150px;
}
#intro form label {
	display: none;
}
.results {
  text-align: center;
}

.results li {
  width: 30%;
  display: inline-block;
  margin: 0.25%;
  border-radius: 5px;
  padding: 5px;
}

.results li img {
  display: inline-block;
  max-width: 100%;
  border-radius: 5px;
  padding: 5px;
}
.results a {
  text-decoration: none;
  display: block;
}

.results li:hover {
  background-color: #B3EFFF;
}