body {
	font-family: 'Open Sans';
	background-image: url('https://image.ibb.co/maCTbc/knife_2879372_1920.jpg');
  background-attachment: fixed;
}
.intro-page body {
  background-image: url('https://image.ibb.co/maCTbc/knife_2879372_1920.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
h1 {
  font-family: 'Montserrat';
  font-size: 48pt;
}
p {
  font-size: 18pt;
}
h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Montserrat';
	font-weight: normal;
}
.enj {
  font-size: 24pt;
}
#intro header {
	margin-top: 150px;
}
#intro form label {
	display: none;
}
.results .recipe .wine {
  text-align: center;
}
.recipe .wine {
  display: inline-block;
  padding: 5px;
}
.results li {
  width: 30%;
  display: inline-block;
  margin: 0.25%;
  border-radius: 5px;
  padding: 5px;
}
.results li img {
  display: inline-block;
  max-width: 100%;
  border-radius: 5px;
  padding: 5px;
}
.recipe img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 5px;
  clear: right;
}
.results .recipe .wine a {
  color: #333;
  font-size: 14pt;
  font-weight: bold;
  text-decoration: none;
  display: block;
}
.results li:hover {
  background-color: #5a4;
}
.btn {
  background-color: #333;
  border: none;
  margin-bottom: 25px;
}
.btn:hover {
  background-color: #5a4;
}
.btn:focus {
  background-color: #333;
}
figcaption a {
  display: block;
  height: 2.75em;
  overflow: hidden;
  text-shadow: 0 0 2px #fff;
  color: #333;
  font-size: 14pt;
  font-weight: bold;
}
#intro.no-intro header {
  margin-top: 50px;
}
figcaption a:hover {
  color: #2c5624;
}
#recView {
  margin: 0 auto;
}