body {
	font-family: 'Open Sans';
	background-image: url('https://image.ibb.co/maCTbc/knife_2879372_1920.jpg');
  background-attachment: fixed;
  padding: 15px;
}
.intro-page body {
  background-image: url('https://image.ibb.co/maCTbc/knife_2879372_1920.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
h1 {
  font-family: 'Montserrat';
  font-size: 48pt;
}
p {
  font-size: 18pt;
}
h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Montserrat';
	font-weight: normal;
}
#resRec {
  margin-right: 0 auto;
  margin-left: 0 auto;
}
.enj {
  font-size: 24pt;
}
#intro header {
	margin-top: 150px;
}
#intro form label {
	display: none;
}
#diet-req {
  background-color: transparent;
}
.results .recipe .wine {
  text-align: center;
}
.recipe .wine {
  display: inline-block;
  padding: 5px;
}
ul {
  padding: 0;
}
.results li {
  cursor: pointer;
  width: 30%;
  display: inline-block;
  margin: 0.25%;
  border-radius: 5px;
  padding: 5px;
}
.results li img {
  display: inline-block;
  max-width: 100%;
  border-radius: 5px;
  padding: 5px;
}
.recipe img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 5px;
  clear: right;
}
.results .recipe .wine a {
  color: #333;
  font-size: 14pt;
  font-weight: bold;
  text-decoration: none;
  display: block;
}
.results li:hover {
  background-color: #fff;
  border: 1px solid black;
  box-shadow: 5px 5px 5px #333;
}
.btn {
  background-color: #333;
  border: none;
  margin-bottom: 25px;
}
.btn:hover {
  background-color: #5a4;
  box-shadow: 5px 5px 5px #333;
}
.btn:focus {
  background-color: #333;
}
figcaption a {
  display: block;
  height: 2.75em;
  overflow: hidden;
  text-shadow: 0 0 2px #fff;
  color: #333;
  font-size: 14pt;
  font-weight: bold;
}
#intro.no-intro header {
  margin-top: 50px;
}
figcaption a:hover {
  color: #5a4;
}
#recView figure {
  padding: 15px;
}
#recView figure:hover {
  background-color: #fff;
  box-shadow: 5px 5px 5px #333;
  border: 1px solid black;
  border-radius: 5px;
}
.select2 {
  border: 1px solid black;
  border-radius: 5px;
  background-color: hsla(360, 100%, 100%, 0);
  color: black;
  font-family: 'Montserrat';
  font-size: 14px;
  font-color: black;
}
.select2-search__field {
  background-color: transparent;
  color: black;
  font-family: 'Montserrat';
  font-weight: bold;
}
.select2-dropdown {
  font-family: 'Montserrat';
  font-weight: bold;
}
.select2-search__field::-webkit-input-placeholder {
  color: black;
  background-color: hsla(360, 100%, 100%, 0);
  font-family: 'Montserrat';
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: black;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  font-size: 14pt;
  font-weight: bold;
}
@media screen and (max-width: 500px) {
  h2, p {
    font-size: 14pt;
  }
  figcaption a {
    font-size: 12pt;
  }
}